.form {
    border: 1px solid #616161;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 300px;
    min-width: 250px;
    max-width: 251px;

    &__input-name {
        background: none;
        border: 1px solid #616161;
        color: #f3f3f3;
        border-radius: 3px;
        padding: 10px;

        &:focus {
            outline: 1px solid #217346;
        }
    }

    &__input-number {
        background: none;
        border: 1px solid #616161;
        color: #f3f3f3;
        border-radius: 3px;
        margin: 10px 0 0 0;
        padding: 10px;

        &:focus {
            outline: 1px solid #217346;
        }

        // &::-webkit-outer-spin-button,
        // &::-webkit-inner-spin-button {
        //     -webkit-appearance: none;
        //     margin: 0;
        // }
    }

    &__input-select {
        background: none;
        border: 1px solid #616161;
        color: #f3f3f3;
        margin: 10px 0 0 0;
        padding: 10px;
        border-radius: 5px;


        &:focus {
            outline: 1px solid #217346;
        }
        option {
            background-color: #313131;
            color: #f3f3f3;
            border-radius: 0px;

        }
        
    }

    &__input-checkbox {
        margin: 10px 0 0 0;
    }

    &__input-checkbox-label {
        color: #f3f3f3;
        margin: 10px 0 0 5px;
    }

    &__button {
        background-color: #616161;
        color: #f3f3f3;
        margin: 10px 0 0 0;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    &__line {
        border: 1px solid #616161;
        width: 90%;
        margin: 10px auto 0 auto;
    }
}

